<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
</head>
<body>
<h th:text="'List of Vets'">List of Vets...</h>
<table class="table" table-striped>
    <thead>
    <tr>
        <th>id</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vet:${vets}">
        <th th:text="${vet.id}">1</th>
        <th th:text="${vet.firstName}">Maciek</th>
        <th th:text="${vet.lastName}">Mackowski</th>
    </tr>
    </tbody>
</table>
</body>
</html>